<h2>New <%= schema.human_singular %></h2>

<%%= render "form.html", Map.put(assigns, :action, Routes.registration_path(@conn, :create)) %>

<span><%%= link "Back", to: Routes.session_path(@conn, :new) %></span>
